<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <link href="asserts/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="dashboard.html">
    <label class="sr-only">卡号</label>
    <label>
        <input type="text" class="form-control" placeholder="卡号" required="" autofocus="" id="card-number">
    </label>
    <label class="sr-only">用户名</label>
    <label>
        <input type="text" class="form-control" placeholder="用户名" required="" autofocus="" id="user-name">
    </label>
    <label class="sr-only">密码</label>
    <label>
        <input type="password" class="form-control" placeholder="密码" required="" id="password">
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    <button class="btn btn-lg btn-block" type="reset">重置注册信息</button>
</form>
</body>
</html>